body{
    overflow:scroll;
    background-color: #0D0D0D;
    margin:0px;
    overflow-x:hidden;
}


#outer{
    padding-top:150px;
    height:100vh;
    width:2vw;
    background-color:#0D0D0D;
    
    position:fixed;
   
    top:0px;
    display:flex;
    overflow:hidden;
    flex-direction:column;
}
.box-last{
    display:flex;
    width:100%;
    height:40px;
    margin-bottom:5px;
    margin-top:auto;
    justify-content:center;
}
.box-last button{
    background: linear-gradient(to bottom, #ee954880, #E66A0020);
    border:1px solid rgb(225, 105, 6) ;
    color:white;
    height:30px;
    width:100px;
}

button:hover{
    box-shadow:0 0 10px rgba(255, 106, 61, 0.6);
}

#icon{
    height:50px;
    width:50px;
}

.box{
    display:flex;
    gap:30px;
    background: linear-gradient(to bottom, #0c0c0c, #272727);
    width:100%;
    
    align-items:center;
    height:40px;
    margin-bottom:5px;
}

.box img{
    height:20px;
    width:20px;
    color:#E66A00;
    padding-left:5px;
}

.box span{
    color:#b3b3b3;
    font-size:15px;
    display:flex;
    align-items:center;
}
.box-active{
    display:flex;
    gap:30px;
    background: linear-gradient(to bottom, #ee954880, #E66A0020);
    width:100%;
   
    align-items:center;
    height:40px;
    margin-bottom:5px;
}

.box-active img{
    height:20px;
    width:20px;
    color:#E66A00;
    padding-left:5px;
}

.box-active span{
    color:#b3b3b3;
    font-size:15px;
    display:flex;
    align-items:center;
}
a{
    text-decoration:none;
}



/* for home 1st div */

#first{
    margin:20px 10% 0px 10%; 
    border-radius: 16px;
    padding: 30px 40px;
    border: 1px solid #E66A00;
    background: linear-gradient(to bottom, #0c0c0c, #272727);
    box-shadow: 0 0 20px rgba(255, 106, 61, 0.4);
}

#first h1{
    margin: 0 0 10px 0;
    font-size: 28px;
    color: #ffffff;
}

#desc{
    margin: 0 0 15px 0;
    font-size: 16px;
    color: #b3b3b3; 
}

#motivation{
    margin: 0;
    font-size: 15px;
    color: #FF7A00;
    display:flex;
    align-items:center;
    gap:10px;
}

#motivation img{
    height:20px;
    width:20px;
}



/* 2nd div */


.title h1,h2{
    color: #FFFFFF;
    font-size: 25px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0px 20px 10%;
}

.title::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #FF7A00;
  border-radius: 2px;
}

#second{
    display: flex;
    gap: 20px;
    margin: 0px 13% 0px 10%;
    overflow-x:auto;
    animation: moveSide 2s ease-in-out infinite alternate;
}
@keyframes moveSide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(2vw);
  }
}
.add{
    flex: 1;
    gap:60px;
    display:flex;
    background: #1A1A1A;
    border: 1px solid #333333;
    border-radius: 12px;
    padding: 10px;
    transition: 0.3s;
    text-align:center;
}
.add img{
    height:100px;
    width:100px;
}
div h4{
    color:white;
}

.label {
  color: #B3B3B3;
  font-size: 14px;
}

.p1 {
  color: #FF7A00;
  font-size: 22px;
  margin: 5px 0;
}

.p2 {
  color: #808080;
  font-size: 13px;
}


/* 3rd div */

.action{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin:0px 10% 0px 10%;
    flex-wrap: wrap;
}

.action a{
    text-decoration:none;
    display:inline-block;
}

.act {
    background: linear-gradient(145deg, #1a1a1a, #111);
    border: 1px solid #ff6a3d;
    border-radius: 14px;
    padding: 22px;          
    box-shadow: 0 0 20px rgba(255, 106, 61, 0.4);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    transition: all 0.3s ease;
}

.act img {
    width: 28px;          
    height: 28px;
    display: block;
    margin-bottom: 10px;
}
.act p {
    color: #fff;
    font-size: 14px;
    margin: 0;
}
.act:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 20px rgba(255, 106, 61, 0.4); 
    border-color: #ff8c5a;
}
.act:active {
    transform: scale(0.96);
}



/* 4th div */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:20px;
    margin:0px 10% 50px 10%;
    flex-wrap: wrap;
}


.card {
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    border: 2px solid #E66A00;
    box-shadow: 0 6px 15px rgba(255, 255, 255,0.15);
    background: linear-gradient(to bottom, #0c0c0c, #272727);
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(255, 106, 61, 0.5);
}

.card h3 {
    margin: 10px 0 5px;
    color: #ffffff;
    display:flex;
    align-items:center;
    gap:10px;
    justify-content: center;
}

.card p {
    margin: 0;
    font-size: 14px;
    color: #b3b3b3;
}


@media (max-width: 768px) {
  #outer {
    width: 73px;
  }

  #outer span {
    display: none;
  }
}
